.display {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  height: 90vh;
}

.display__product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.display__product {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  width: calc(33.3% - 14px);
}

.display__product_active {
  background-color: #0ff;
}
