.display {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  height: 90vh;
  @media screen and (max-width: 768px) {
    height: auto;
    padding: 10px;
    min-height: 45vh;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  @media screen and (max-width: 768px) {
    gap: 10px;
  }
}

.container {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  width: calc(33.3% - 14px);
  @media screen and (max-width: 768px) {
    width: calc(33.3% - 7px);
  }
}

.active {
  background-color: #0ff;
}
